.landing {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .form-field {
    position: fixed;
    bottom: 20px;
    width: 80%;
    padding: 20px;
    background-color: #282c34;
    color: white;
} */

.message-field {
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  margin-right: 10px;
  background-color: #282c34;
  color: #09d3ac;
}

.list-message {
  overflow: auto;
  height: 92vh;
  /* max-height: 94vh; */
  width: 100%;
  background-color: #282c34;
  border: 1px solid white;
  /* overflow-y: scroll; */
}

.wrapper {
  display: flex;
}

.list-user {
  background: url("../../assets/msnger.png");
  /* background-size: contain; */
  background: cover;
  background-color: black;
  height: 100vh;
  width: 10vw;
  padding-right: 30px;
  background-color: #282c34;
  box-shadow: 12px 12px 2px 1px white;
}

.dashboard-header {
  background: url("../../assets/msnger.png");
  /* background-size: contain; */
  background: cover;
  background-color: black;
  height: 7vh;
  margin: 0px;
  background-color: #095a52;
  color: white;
  padding: 10px;
  border: none;
}
