.private-dashboard {
  width: 100%;
  background-color: #282c34;
  height: 100vh;
  border: 1px solid white;
}

.list-message {
  width: 100%;
}

.private-header {
  color: white;
  background-color: teal;
}
