.input-element {
    width: 100%;
    height: 25px;
    border-radius: 5px 5px;
    outline: none;
    border: none;
    margin: 20px 20px;
    padding: 5px;
}

.input-field {
    width: 300px;
}

label {
    text-align: left;
    display: block;
    margin: 0px 20px;
}